In [1]:
import findspark
import os

In [2]:
SPARK_HOME = os.environ.get('SPARK_HOME')
SPARK_HOME

'/opt/spark'

In [3]:
findspark.init(spark_home=SPARK_HOME)

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/03/06 14:58:35 WARN Utils: Your hostname, DESKTOP-TINF367 resolves to a loopback address: 127.0.1.1; using 172.28.17.111 instead (on interface eth0)
24/03/06 14:58:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/06 14:58:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [16]:
# Read zipped file directly from Spark
df_zipped = spark \
    .read \
    .format("csv") \
    .option("header", True) \
    .load("fhv_tripdata_2019-10.csv")
df_zipped.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [7]:
!head -n 1001 fhv_tripdata_2019-10.csv > headlinall.csv

In [9]:
import pandas as pd

In [10]:
second_df = pd.read_csv('headlinall.csv')

second_df.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [13]:
spark.createDataFrame(second_df).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [17]:
from pyspark.sql import types

In [18]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [19]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv("fhv_tripdata_2019-10.csv")

In [20]:
# partition
df = df.repartition(6)

In [21]:
# write to parquet

df.write.parquet('fhv/2019/10/')

In [22]:
# How many taxi trips were there on the 15th of October?

# spark dataframes
df = spark.read.parquet('fhv/2019/10/')
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [26]:
df_fifteenth_of_october = df.select('dispatching_base_num', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .filter((df.pickup_datetime >= '2019-10-15') & (df.pickup_datetime < '2019-10-16')) \
    .count()
df_fifteenth_of_october

62610

In [27]:
# Longest trip for each day

# What is the length of the longest trip in the dataset in hours?

# Get started by creating temp tables <====>
df.registerTempTable("trips_data")

/opt/spark/python/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [28]:
spark.sql("""
SELECT
    pickup_datetime,
    dropoff_datetime,
    PULocationID,
    DOLocationID,
    TIMESTAMPDIFF(HOUR, pickup_datetime, dropoff_datetime) AS difference

FROM
    trips_data
ORDER BY
    difference DESC
""").show()

+-------------------+-------------------+------------+------------+----------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|difference|
+-------------------+-------------------+------------+------------+----------+
|2019-10-28 09:00:00|2091-10-28 09:30:00|         264|         264|    631152|
|2019-10-11 18:00:00|2091-10-11 18:30:00|         264|         264|    631152|
|2019-10-31 23:46:33|2029-11-01 00:13:00|        null|        null|     87672|
|2019-10-01 21:43:42|2027-10-01 21:45:23|         159|         264|     70128|
|2019-10-17 14:00:00|2020-10-18 00:00:00|        null|        null|      8794|
|2019-10-26 21:26:00|2020-10-26 21:36:00|         264|         264|      8784|
|2019-10-30 12:30:04|2019-12-30 13:02:08|         264|          50|      1464|
|2019-10-25 07:04:57|2019-12-08 07:21:11|         168|         235|      1056|
|2019-10-25 07:04:57|2019-12-08 07:54:33|         168|         235|      1056|
|2019-10-01 07:21:12|2019-11-03 08:44:21|           5|           6|       793|
|2019-10-01 13:47:17|2019-11-03 15:20:28|          44|         214|       793|
|2019-10-01 13:41:00|2019-11-03 14:58:51|         206|         172|       793|
|2019-10-01 07:48:15|2019-11-03 08:06:37|         204|         109|       792|
|2019-10-01 14:18:49|2019-11-03 14:51:25|          84|         118|       792|
|2019-10-01 11:41:57|2019-11-03 11:53:31|           6|         251|       792|
|2019-10-01 15:40:40|2019-11-03 15:55:58|           6|         172|       792|
|2019-10-01 13:10:24|2019-11-03 13:15:29|         206|         206|       792|
|2019-10-01 18:43:20|2019-11-03 19:43:13|          23|           5|       792|
|2019-10-01 09:19:02|2019-11-03 09:29:12|         118|         176|       792|
|2019-10-01 13:09:14|2019-11-03 13:23:21|         118|          44|       792|
+-------------------+-------------------+------------+------------+----------+
only showing top 20 rows

In [29]:
# Least frequent pickup location zone

# Load the zone lookup data into a temp view in Spark

zone_df = spark.read.option("header", "true").csv('taxi_zone_lookup.csv')

zone_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [36]:
# zone_df.registerTempTable("zone_data")

# join zone_df to main df

df_join = df.join(zone_df, df.PUlocationID == zone_df.LocationID, 'inner')

# zone_df.show()

In [37]:
# create table from the joined table

df_join.registerTempTable("join_data")
df_join.show()

/opt/spark/python/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|              B00445|2019-10-07 03:54:41|2019-10-07 04:02:41|         252|         138|   null|                B00445|       252|   Queens|          Whitestone|   Boro Zone|
|              B02613|2019-10-05 00:47:05|2019-10-05 01:11:53|         264|          39|   null|                B02613|       264|  Unknown|                  NV|         N/A|
|              B01437|2019-10-02 20:29:31|2019-10-02 20:52:31|         264|         173|   null|                B01437|       264|  Unknown|                  NV|         N/A|
|              B02292|2019-10-02 16:40:52|2019-10-02 16:53:57|         264|          17|   null|                B02292|       264|  Unknown|                  NV|         N/A|
|              B01338|2019-10-03 17:21:08|2019-10-03 17:26:58|         264|          32|   null|                B01338|       264|  Unknown|                  NV|         N/A|
|              B02715|2019-10-08 13:10:21|2019-10-08 13:27:26|         236|         233|   null|                B02788|       236|Manhattan|Upper East Side N...| Yellow Zone|
|              B03060|2019-10-04 17:23:21|2019-10-04 17:46:10|         264|          22|   null|                B03060|       264|  Unknown|                  NV|         N/A|
|              B02285|2019-10-02 19:55:00|2019-10-02 21:07:00|         264|         264|   null|                B02285|       264|  Unknown|                  NV|         N/A|
|              B02311|2019-10-06 02:03:52|2019-10-06 02:17:22|         264|          89|   null|                B02311|       264|  Unknown|                  NV|         N/A|
|              B01315|2019-10-08 13:18:59|2019-10-08 13:35:23|         264|          78|   null|                B01315|       264|  Unknown|                  NV|         N/A|
|              B02285|2019-10-01 20:08:11|2019-10-01 21:01:00|         264|         264|   null|                B02285|       264|  Unknown|                  NV|         N/A|
|              B02293|2019-10-02 10:25:20|2019-10-02 12:49:37|          74|          61|   null|                B02293|        74|Manhattan|   East Harlem North|   Boro Zone|
|              B01087|2019-10-01 08:52:12|2019-10-01 16:00:14|          43|          43|   null|                B01087|        43|Manhattan|        Central Park| Yellow Zone|
|              B03160|2019-10-05 06:19:00|2019-10-05 06:31:00|          60|         184|   null|                B02133|        60|    Bronx|   Crotona Park East|   Boro Zone|
|              B01087|2019-10-03 22:14:32|2019-10-03 22:43:34|         142|         235|   null|                B01087|       142|Manhattan| Lincoln Square East| Yellow Zone|
|              B00256|2019-10-02 21:25:36|2019-10-02 21:58:51|         264|         264|   null|                B00256|       264|  Unknown|                  NV|         N/A|
|              B00900|2019-10-03 11:57:10|2019-10-03 12:02:54|         264|         197|   null|                B00900|       264|  Unknown|                  NV|         N/A|
|              B02905|2019-10-02 09:24:09|2019-10-02 09:30:10|         264|         228|   null|                B02905|       264|  Unknown|                  NV|         N/A|
|              B00821|2019-10-07 04:01:35|2019-10-07 04:07:42|         264|          77|   null|                B00821|       264|  Unknown|                  NV|         N/A|
|              B02838|2019-10-05 19:00:36|2019-10-05 19:10:26|         264|         133|   null|                B02838|       264|  Unknown|                  NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [38]:
spark.sql("""
SELECT
    Zone,
    COUNT(Zone) AS Zone_Frequency
FROM
    join_data
GROUP BY Zone
ORDER BY Zone_Frequency
""").show()

+--------------------+--------------+
|                Zone|Zone_Frequency|
+--------------------+--------------+
|         Jamaica Bay|             1|
|Governor's Island...|             2|
| Green-Wood Cemetery|             5|
|       Broad Channel|             8|
|     Highbridge Park|            14|
|        Battery Park|            15|
|Saint Michaels Ce...|            23|
|Breezy Point/Fort...|            25|
|Marine Park/Floyd...|            26|
|        Astoria Park|            29|
|    Inwood Hill Park|            39|
|       Willets Point|            47|
|Forest Park/Highl...|            53|
|  Brooklyn Navy Yard|            57|
|        Crotona Park|            62|
|        Country Club|            77|
|     Freshkills Park|            89|
|       Prospect Park|            98|
|     Columbia Street|           105|
|  South Williamsburg|           110|
+--------------------+--------------+
only showing top 20 rows